# =====================
# NODE / ANGULAR / IONIC
# =====================
node_modules/
dist/
www/

# =====================
# IONIC
# =====================
.ionic/
platforms/
plugins/

# =====================
# ANGULAR
# =====================
.angular/
.angular/cache
/out-tsc/
tmp/
coverage/
bazel-out/

# =====================
# ARCHIVOS GENERADOS
# =====================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# ENV
# =====================
.env
.env.*

# =====================
# IDE / EDITORES
# =====================
.vscode/
.idea/
.project
.classpath
.settings/
*.sublime-project
*.sublime-workspace

# =====================
# SISTEMA
# =====================
.DS_Store
Thumbs.db
$RECYCLE.BIN/

# =====================
# MISC
# =====================
*.swp
*.tmp
.tmp
.cache
.history/