<ion-content class="login-bg">

  <div class="login-wrapper">

    <div class="login-card">

      <h2>Bitácora Caldera</h2>
      <p class="subtitle">
        Ingresa tus credenciales para continuar
      </p>

      <!-- USUARIO -->
      <ion-item
        fill="outline"
        class="input-item"
        lines="none">

        <ion-input
          label="Usuario"
          labelPlacement="floating"
          type="text"
          [(ngModel)]="username"
          aria-label="Usuario">
        </ion-input>

      </ion-item>

      <!-- CONTRASEÑA -->
      <ion-item
        fill="outline"
        class="input-item"
        lines="none">

        <ion-input
          label="Contraseña"
          labelPlacement="floating"
          type="password"
          [(ngModel)]="password"
          aria-label="Contraseña">
        </ion-input>

      </ion-item>

      <!-- ERROR -->
      <div class="error-box" *ngIf="errorMsg">
        {{ errorMsg }}
      </div>

      <!-- BOTÓN -->
      <ion-button
        expand="block"
        class="login-btn"
        [disabled]="cargando"
        (click)="login()">

        <ion-spinner
          *ngIf="cargando"
          name="crescent">
        </ion-spinner>

        <span *ngIf="!cargando">
          Iniciar sesión
        </span>

      </ion-button>

    </div>

  </div>

</ion-content>