<ion-content class="home-bg">

<div class="home-wrapper">

<div class="home-card">

<!-- HEADER -->

<div class="card-header">

<div class="user-box" *ngIf="session?.user">

<div class="avatar">
{{ session.user.nombre?.charAt(0) }}
</div>

<div class="user-text">

<div class="user-name">
{{ session.user.nombre }}
</div>

<div class="user-role">
Rol: {{ session.user.rol }}
</div>

</div>

</div>

<ion-button fill="clear" (click)="salir()">
SALIR
</ion-button>

</div>

<h2>Iniciar turno</h2>

<p class="subtitle">
Selecciona el turno, número y fecha de la bitácora.
</p>

<!-- TURNO -->

<div class="selector-group">

<label>Turno</label>

<ion-button
expand="block"
(color)="turno === 'DIA' ? 'primary' : 'medium'"
(click)="cambiarTurno('DIA')">

DÍA

</ion-button>

<ion-button
expand="block"
(color)="turno === 'NOCHE' ? 'primary' : 'medium'"
(click)="cambiarTurno('NOCHE')">

NOCHE

</ion-button>

</div>

<!-- NUMERO TURNO -->

<div class="selector-group">

<label>N° Turno</label>

<ion-button
expand="block"
(color)="turnoNumero === '39' ? 'primary' : 'medium'"
(click)="cambiarTurnoNumero('39')">

39

</ion-button>

<ion-button
expand="block"
(color)="turnoNumero === '44' ? 'primary' : 'medium'"
(click)="cambiarTurnoNumero('44')">

44

</ion-button>

</div>

<!-- FECHA -->

<div class="selector-group">

<label>Fecha de la bitácora</label>

<input
type="date"
[(ngModel)]="fechaBitacora"
/>

</div>

<div class="turno-info">

<strong>
Turno seleccionado: {{ turno }} - Turno {{ turnoNumero }}
</strong>

<br>

<strong>
Fecha: {{ formatearFecha(fechaBitacora) }}
</strong>

</div>

<ion-button expand="block" (click)="iniciarTurno()">

{{ bitacoraAbierta ? 'CONTINUAR TURNO ACTIVO' : 'INICIAR TURNO' }}

</ion-button>

</div>

</div>

</ion-content>